Flask
Werkzeug
Flask-Cors
python-dotenv
Pillow
PyPDF2
pdfplumber
google-generativeai
moviepy==1.0.3
pdf2image
pdf2docx
python-docx
pandas
openpyxl
groq
langchain
langchain-groq
langchain-community
PyJWT
